<div class="ancho margin-auto big-padding"><%= form_for :article, :html => { :id => "articles_form" } , url: articles_path do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :Título, class:"col-md-2 control-label" %><br>
    <%= f.text_field :title,class:"form-control" %>
  </p>

  <p>
    <%= f.label :Portada %><br>
    <%= f.file_field :cover %>
  </p>
  <p>
    <%= f.label :Entrada %><br>
    <%= f.hidden_field :text, placeholder: "Escribe aquí el articulo", id:"body-textarea" %>

  </p>
    <div id="epiceditor" style="height:500px"> </div></p>

<p>
  <pre lang="no-highlight"><code>

                                    INSTRUCCIONES DE USO
--------------------------------------------------------------------------------------------------------
 Titulos:
  # H1
  ## H2
  ### H3
  #### H4
  ##### H5
  ###### H6

  Link
[I'm an inline-style link](https://www.google.com)

Imagen

![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")

Tablas

| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |

Videos de Youtube

&lt;a href="http://www.youtube.com/watch?feature=player_embedded&amp;v=YOUTUBE_VIDEO_ID_HERE
" target="_blank"&gt;&lt;img src="http://img.youtube.com/vi/YOUTUBE_VIDEO_ID_HERE/0.jpg"
alt="IMAGE ALT TEXT HERE" width="240" height="180" border="10" /&gt;&lt;/a&gt;

Listas

* Un tipo
- Otra forma
+ Y otra forma
  </code>



</pre>
  <p>
    <%= f.label :Categoria %><br>
    <%  @Categories.each do |category| %>
    <%= check_box_tag "categories[]", category.id %> <%= category.name %>
    <% end %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>


</div>


<script >
var editor = new EpicEditor({
  file:{
    name: "nuevo_articulo"
  }
});
editor.load();

$("#articles_form").on("submit",function(){

 $("#body-textarea").val( editor.exportFile("nuevo_articulo", "html"));

});



</script>

<%= link_to 'Back', articles_path %>
