<div class="col-lg-7 cold-md-8 cold-xs-12 col-sm-10 col-sm-11 no-float center-block">
  <article class="card big-padding">
    <header>
        <h1 class="grey-text bold"><%= @article.title %></h1>
    </header>
      <section>
        <div>
          <%=image_tag @article.cover.url(:medium) %>
        </div>
        <h3 class="green-text bold normal"> <%=  @article.text%></h3>

        <div> <h4>Comentarios </h4>

        <%= render "comments/form"%>
        <ul id="comments-box">
        <% @article.comments.each do |comment| %>
        <li>  <%= comment.body %>

          </li>
          <%end%>
          </ul>

        </div>

      </section>

  </article>
</div>

<%= link_to 'Back', articles_path %>
