<div class="col-lg-7 cold-md-8 cold-xs-12 col-sm-10 col-sm-11 no-float center-block">
  <article class="card big-padding">
    <header>
        <h1 class="grey-text bold text-center"><%= @article.title %></h1>
    </header>
      <section>
        <div >
          <%=image_tag @article.cover.url(:medium) %>
        </div>
        <p style="text-align:justify" class="normal top-space "> <%=  @article.text%></p>

        <div> <h4 class="green white-text large-padding text-center">Comentarios </h4>

        <%= render "comments/form"%>
        <ul class="top-space" id="comments-box">
        <% @article.comments.each do |comment| %>
        <li  class="no-list no-decoracion">  <%= comment.body %>
         <strong><%= comment.user.email%> </strong>
           <%= comment.created_at.strftime("%d-%m-%Y") %>

          </li>
          <%end%>
          </ul>

        </div>

      </section>

  </article>
</div>

<%= link_to 'Back', articles_path %>
