<div class="ancho-60 margin-auto">
   <%=render "form" %>


      <div class="perfil margin-auto display-block float-left card">
        <h2> <%= @user.profile.name%> </h2>

        <ul class="list-group">
  <li class="list-group-item">  Nombre <%= @user.profile.name%>   </li>
  <li class="list-group-item"> Apellidos <%= @user.profile.last_name%> </li>
  <li class="list-group-item">Ciudad<%= @user.profile.city%> </li>
  <li class="list-group-item"> Edad <%= @user.profile.birth_date%> </li>
<li class="list-group-item"> Email <%= @user.email%> </li>
</ul>

      </div>





</div>
