.col-lg-7.cold-md-8.cold-xs-12.col-sm-10.col-sm-11.no-float.center-block
  %article.card.big-padding
    %header.green.text-center.white
      %h2.white-text.large-padding= @product.name
    %section
      .col-xs-6.col-md-5.no-padding.inline-block
        =image_tag @product.avatar.url
      .col-md-1.inline-block.hidden-xs
      .col-xs-5.col-md-6.inline-block.text-left
        %h3.green-text.bold.normal
          Precio:
          %span.medium.grey-text = #{@product.pricing}€
        %h3.green-text.bold.normal Descripción
        %p= @product.description
        =render "in_shopping_carts/form", product: @product

  = link_to 'Edit', edit_product_path(@product)
  = link_to 'Back', products_path
