
<div class="background-imagen no-padding no-margin" >
</div>




<!--- Esto es el codigo de category que tengo que limpiar -->

<div style="margin-top:2em" class="col-md-12 col-xs-10 margin-auto center-block kostic" >

      <div class="col-md-9 display-block float-left">

        <h1 class="text-center"><%= @gender.name %> </h1>
  <% @gender.articles.each do |article|%>

                    <div class="col-md-12 display-block float-left border-top padding-top margin-bottom">
                          <div style="margin-right:10px;" class="visibilidad overflow ancho-40 display-block float-left"> <%=image_tag article.cover.url(:medium) %></div>
                            <span class="grey-text bold top-space normal"> <%= link_to article.title,  article%>  </span>

                            <% unless article.points.nil?%>
                              <div  class="points"> <p style="font-size:10px;">Puntuación</p><%=link_to article.points %></div>
                              <%end%>
                        <!--    <p class="grey-text small ">   <%=  Sanitize.fragment(article.text, Sanitize::Config::RELAXED).truncate(100).html_safe%>  </p>-->
                                          <div class="grey-text"> <i class="fa fa-calendar" aria-hidden="true"></i> <%= article.created_at.strftime("%d-%m-%y") %> -  <i class="fa fa-eye" aria-hidden="true"></i><%= article.visits_count %> <i class="fa fa-comments" aria-hidden="true"></i> <%= article.comments.count %></div>
                                          <span class="small">     <%=  Sanitize.fragment(article.text, Sanitize::Config::RELAXED).truncate(300).html_safe%></span>
                                    <div class="grey-text bottom-space-small">
                                       <% article.categories.each do |category| %>
                                       <li class="no-list inline-block padding-left-right margin-left-right white-text green radius tags"><%= link_to category.name, category %></li>
                                      <% end %>
                                    </div>
                    </div>
        <%end%>


        <h4 style="padding: 5px 0px;" class=" border-bottom text-center  bg-fondo white-text clearboth ">A Detalle... </h4>

            <article class="card">

                <section>
                    <div class="display-block float-left large-padding">  <%=image_tag @article.cover.url(:medium) %></div>
                    <div class="display-block float-left large-padding"><h3 class="grey-text "> <%=link_to @article.title, @article %></h2>
                    <span class="normal">     <%=  Sanitize.fragment(@article.text, Sanitize::Config::RELAXED).truncate(1100).html_safe%></span>        </div>
                 </section>

            </article>
  </div>

                        <div class="col-md-3 ">
                                      <h4 style="padding: 5px 0px;" class="white-text border-bottom  "><span class="green large-padding" >Lo + visto esta semana</span></h4>
                                                <% @gender.articles.each do |article|%>
                                                      <div class="white margin-bottom border-bottom-small">

                                                        <div class="relative"> <%=image_tag article.cover.url(:medium), class: "img-thumbnail"  %></div>
                                                        <p class="grey-text bold large-padding normal"><%= link_to article.title, article %></p>
                                                      <p class="grey-text small  padding-left-right">    <%=  Sanitize.fragment(article.text, Sanitize::Config::RELAXED).truncate(100).html_safe%>  </p>

                                                           <p class="large-padding green-text large-padding"><i class="fa fa-calendar" aria-hidden="true"></i><%= article.created_at.strftime("%d-%m-%y") %> <i class="fa fa-eye" aria-hidden="true"></i><%= article.visits_count %></p>

                                                         </div>
                                                    <%end%>
                                      </div>
</div>
